#some temporary files from C++. will probably be adjusted in the future
a.out

#music xml files, some of which aren't allowed for distribution
music/

#python stuff
__pycache__

#output wav files
output/